<div class="row" *ngIf="!hidden">
    <div class="col-xl-12">
      <div class="card card-custom example example-compact gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Google Sheet Reporting</h3>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable class="material fullscreen" [rows]="rows" [columnMode]="'force'"
            [loadingIndicator]="loadingIndicator" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true"
            [headerHeight]="50" [limit]="10">
            <ngx-datatable-column name="SheetName" [width]="150">
              <ng-template let-column="column" ngx-datatable-header-template>
                Sheet Name
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="SheetUrl">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Sheet Url
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

            <ngx-datatable-column name="id" [width]="100">
              <ng-template ngx-datatable-header-template>Action</ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a title="Edit Sheet" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                  (click)="editSheet(row._key)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </a>

                <a title="Delete Sheet" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                  (click)="deleteSheet(row._key)">
                  <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="false"
                    class="svg-icon svg-icon-md svg-icon-danger">
                  </span>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <!-- begin:: Error -->
  <div *ngIf="hidden" class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url('./assets/media/error/bg3.jpg'); height: 100%;zoom: 1;
    display: block;
    min-height: 80vh;
    font-size: 14px;
    line-height: 1.4;
    color: #0e1724;">
    <!--begin::Content-->
    <div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
      <p class="display-4 font-weight-boldest text-white mb-12">
        How did you get here
      </p>
      <p class="font-size-h1 font-weight-boldest text-dark-75">
        Sorry you can't access the page you're looking for.
      </p>
      <p class="font-size-h4 line-height-md">
        There may be a misspelling in the URL entered,<br />or the page you are
        looking for may no longer exist.
      </p>
    </div>
    <!--end::Content-->
  </div>
  <!-- end:: Error -->