<mat-dialog-content class="mat-typography">
  <div class="row">
    <!-- STARTING UPDATE PROFILE-->
    <div class="col-xl-12">
      <div class="card card-custom example example-compact gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Add or Remove Companies</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-12">
              <mat-selection-list
                color="primary"
                #company
                [(ngModel)]="userCompanies"
              >
                <mat-list-option
                  *ngFor="let company of allCompanies"
                  [value]="company._id"
                >
                  {{ company.name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div class="row buttons">
  <div class="col-md-6">
    <button
      class="save-button"
      mat-raised-button
      color="secondary"
      (click)="close()"
    >
      Cancel
    </button>
  </div>
  <div class="col-md-6">
    <button
      class="back-button"
      mat-raised-button
      color="primary"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
