<div class="row">
  <div class="col-xl-6">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header">
        <div class="card-title">
          <h2 class="card-label">Month to Date Stats</h2>
        </div>
      </div>
      <div class="card-body">
        <mat-list>
          <mat-list-item>Revenue: $103,201.26</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Revenue Pace: $131,285.19</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Profit: $21,109.59</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Profit Pace: $173,121.45</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Percentage Change: +27%</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card card-custom example example-compact gutter-b">
      <div class="card-header">
        <div class="card-title">
          <h2 class="card-label">Last Month Stats</h2>
        </div>
      </div>
      <div class="card-body">
        <mat-list>
          <mat-list-item>Revenue: $113,542.23</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Profit: $14,121.39</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Percentage Change: +11%</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
<ngx-datatable
  #expandableTable
  class="material fullscreen expandable"
  style="top: 52px"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="0"
  [rowHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [rows]="rows"
>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail
    [rowHeight]="100"
    #myDetailRow
    (toggle)="onDetailToggle($event)"
  >
    <ng-template
      let-row="row"
      let-expanded="expanded"
      ngx-datatable-row-detail-template
    >
      <div style="padding-left: 35px">
        <div><strong>Address</strong></div>
        <div>Test</div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <!-- Column Templates -->
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
  >
    <ng-template
      let-row="row"
      let-expanded="expanded"
      ngx-datatable-cell-template
    >
      <a
        href="javascript:void(0)"
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)"
      >
      </a>
    </ng-template>
  </ngx-datatable-column>

  <!-- PUBLISHER NAME -->
  <ngx-datatable-column name="name">
    <ng-template let-column="column" ngx-datatable-header-template>
      Publisher
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- PUBLISHER NAME -->
  <ngx-datatable-column name="tag">
    <ng-template let-column="column" ngx-datatable-header-template>
      Tag
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- TOTAL SEARCHES -->
  <ngx-datatable-column name="totalSearches">
    <ng-template let-column="column" ngx-datatable-header-template>
      Total Searches
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value | number }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- MONETIZED SEARCHES -->
  <ngx-datatable-column name="monetizedSearches">
    <ng-template let-column="column" ngx-datatable-header-template>
      Monetized Searches
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value | number }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- CLICKS -->
  <ngx-datatable-column name="clicks">
    <ng-template let-column="column" ngx-datatable-header-template>
      Clicks
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value | number }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- CLICKS -->
  <ngx-datatable-column name="followOn">
    <ng-template let-column="column" ngx-datatable-header-template>
      Follow On
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- CTR -->
  <ngx-datatable-column name="CTR">
    <ng-template
      let-column="column"
      let-sort="sortFn"
      ngx-datatable-header-template
    >
      <span>{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <strong
        [innerHTML]="row['clicks'] / row['totalSearches'] | percent: '2.2-2'"
      ></strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- REVENUE -->
  <ngx-datatable-column name="revenue">
    <ng-template let-column="column" ngx-datatable-header-template>
      Revenue
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value | currency: 'USD' }}</strong>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
