@media screen and (max-width: 1280px) {
    .contents__box {
        width: 100%;
    }
}

.section {
    width: 100%;
}

.section .section-head {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 40px;
    padding: 0;
    color: #333;
}

.section .section-content {
    color: #6f728d;
    margin-bottom: 20px;
}

.contents__box {
    padding: 40px;
    width: 900px;
    border-radius: 5px;
    background-color: #ffffff;
    -o-box-shadow: 0 0 15px 0 rgba(220,220,220,0.4);
    box-shadow: 0 0 15px 0 rgb(220 220 220 / 40%);
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #232323;
    color: #e6e1dc;
}

.hljs {
    padding: 10px 20px !important;
    border-radius: 3px;
}

pre>code {
    max-height: 500px;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

.hljs-built_in {
    color: #ffffff;
    display: block;
}

.hljs-built {
    color: #6d9cbe;
}