.params {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-form-field {
    max-width: 25%;
  }
}
.subid-header {
  padding: 0.5rem 0.25rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #EBEDF3;
}

.numeric-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}