<app-reporting-filtering (onDatesPicked)="sheetFiltering($event)"></app-reporting-filtering>

<ngx-datatable #expandableTable class="material fullscreen expandable" style="top: 10px; height: 500px" [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true"
  [rows]="sheetData">

  <!-- Date -->
  <ngx-datatable-column name="date">
    <ng-template let-column="column" ngx-datatable-header-template>
      Date
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value | date }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- Searches -->
  <ngx-datatable-column name="searches">
    <ng-template let-column="column" ngx-datatable-header-template>
      Searches
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- Clicks -->
  <ngx-datatable-column name="clicks">
    <ng-template let-column="column" ngx-datatable-header-template>
      Clicks
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
       <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- CTR -->
  <ngx-datatable-column name="ctr">
    <ng-template let-column="column" ngx-datatable-header-template>
      CTR
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- RPC -->
  <ngx-datatable-column name="rpc">
    <ng-template let-column="column" ngx-datatable-header-template>
        RPC
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
    <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- REVENUE -->
  <ngx-datatable-column name="revenue">
    <ng-template let-column="column" ngx-datatable-header-template>
      Revenue
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <!-- TQ -->
  <ngx-datatable-column name="tq">
    <ng-template let-column="column" ngx-datatable-header-template>
        TQ
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
    <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>